<h1> Bookings for <%= current_user.full_name %></h1>
<% @bookings.each do |b|  %>
  <div>
    <p><%= b.event.name %>, group of: <%= b.group_size %>, total price is <%= b.total_price%></p>
  </div>
<% end %>
