

<%= form_for [@event, @event.bookings.new] do |b|%>
  <div class="form-group">
    <%= b.label :group_size%><br/>
    <%= b.number_field :group_size, class: "form-control", autofocus: true,placeholder: 'fill in size of your group, max 3', autocomplete: "off"   %><%= b.submit  "Join event",  class: "btn btn-primary actions" %>
  </div>
<%end%>
