// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.background_image {
  opacity: 0.2;
  width: auto ;
  height: 600px ;
  // position: absolute;
  // left: 0px;
}
.foreground_image {
  opacity: 1;
  width: auto ;
  max-width: 100%;
  height: auto ;
  max-height: 500px;
}
.tophome{
  opacity: 1.0;
  position: absolute;
  top: 50px;
}
.right{
  text-align: right;
}
.blue{
  background-color: lightyellow;
}
.btn-extended{
  color: white;
}
.head {
  background-color: lightyellow;
}
.double_size{
  font-size: 200%;
}
.border_small{
  border: 1px black solid;
}
.stretch_image{
  width: auto;
  height: 300px;
}
